# 10wk-2: `pandas`, 반복문자투리, 변수의범위

최규빈  
2024-05-10

<a href="https://colab.research.google.com/github/guebin/PP2024/blob/main/posts/10wk-2.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

# 1. 강의영상

<https://youtu.be/playlist?list=PLQqh36zP38-xKLMTjfFSp1PMSYsgSx5zd&si=v9NqSzwmAbbi3BiB>

# 2. Imports

In [503]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import itertools

# 3. `Pandas`

## A. `numpy` 대비 장점?

`-` 장점1: 모든 자료형이 동일할 필요가 없다.

(문제) – 아래의 리스트에서 능력치가 90 보다 큰 선수들을 출력하라.

In [3]:
lst = [['Bruno Fernandes', 'Europe', 88],
       ['L. Goretzka', 'Europe', 87],
       ['L. Suárez', 'South America', 88],
       ['K. De Bruyne', 'Europe', 91],
       ['M. Acuña', 'South America', 84],
       ['J. Kimmich', 'Europe', 89]]

(풀이) – 아마 이렇게..

In [14]:
[[name,continent,x] for name, continent, x in lst if x>90]

(풀이) – 말린다면..

In [15]:
arr = np.array(lst)
arr

In [17]:
arr[arr[:,2] > 90]

(풀이) – 판다스였다면

In [25]:
df = pd.DataFrame(lst)
df

In [26]:
df[df.iloc[:,2] > 90]

(분석)

In [27]:
arr[:,0],arr[:,1],arr[:,2] # 문자열,문자열,문자열 -> 각 col의 자료형이 반드시 같아야함

In [28]:
df.iloc[:,0], df.iloc[:,1], df.iloc[:,2] # object,object,int -> 각 col의 자료형이 다를수도있음.

`-` 장점2: 인덱싱과 해싱을 동시에 할 수 있다. (순서형자료형과
맵핑형자료형의 장점을 동시에 가짐)

-   list의 장점 $\to$ numpy 가 계승
-   dct의 장점 $\to$ pandas 가 계승 + list/numpy의 장점 일부흡수

In [34]:
dct = {'att':[30,40,50],'mid':[50,60,70]}
df = pd.DataFrame(dct)
df

In [37]:
df['att'], dct['att'] # 해싱

In [183]:
df.iloc[[1],[0,1]] # 인덱싱

> 느낌: 판다스데이터프레임은 엑셀 그자체!

## B. 선언방법

`-` 방법1: dictionary에서 만든다. (맵핑형자료에서 생성)

In [31]:
pd.DataFrame({'att':[30,40,50],'mid':[50,60,70]})

In [43]:
pd.DataFrame({'att':(30,40,50),'mid':(50,60,70)})

In [45]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

`-` 방법2: ndarray 혹은 list 등에서 만든다. (보통 2차원의 중첩구조를
가지는 순서형자료에서 생성하는게 일반적임)

In [50]:
np.arange(2*3).reshape(2,3)

In [51]:
pd.DataFrame(np.arange(2*3).reshape(2,3))

## C. 자료형, len, shape, for문의 반복변수

In [53]:
df = pd.DataFrame({'att':[30,40,50],'mid':[5,45,90]})
df

`-` type

In [54]:
type(df)

`-` len

In [55]:
len(df) # row의 갯수

`-` shape

In [56]:
df.shape

`-` for문의 반복변수

In [57]:
for k in df:
    print(k) # 딕셔너리같죠

att
mid

In [58]:
for k in {'att':[30,40,50],'mid':[5,45,90]}: 
    print(k)

att
mid

**참고:** df는 진짜 딕셔너리 느낌 강해요

In [75]:
df.keys()

In [76]:
for k,v in df.items():
    print(k)
    print(v)
    print('\n')

att
0    30
1    40
2    50
Name: att, dtype: int64


mid
0     5
1    45
2    90
Name: mid, dtype: int64

## D. `pd.Series`

`-` 2차원 ndarray가 pd.DataFrame에 대응한다면 1차원 ndarray는
pd.Series에 대응한다.

In [108]:
s=pd.Series(np.random.randn(10))
s

In [109]:
type(s)

In [110]:
len(s)

In [197]:
s.shape

In [111]:
for x in s: 
    print(x)

0.2523733143388311
-1.0753068117512616
-0.36870536789029595
0.7845995696103139
0.5499055415241653
-0.47997013360871355
-1.9911174129623606
-0.40733045301228693
-0.13110029817116495
0.38815521816133036

# 4. Pandas: 행과 열의 선택

`-` 두 가지 형태의 데이터프레임

In [112]:
dct = {'date': ['12/30','12/31','01/01','01/02','01/03'], 'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}
df = pd.DataFrame(dct) 
df

In [114]:
ts = pd.DataFrame({'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}, index=['12/30','12/31','01/01','01/02','01/03']) 
ts

## A. 열의 선택

In [126]:
df

`-` 방법1: `df.?` + col-name

In [139]:
# df.X1

`-` 방법2: `df[?]` + str, \[str,str\]

In [138]:
# df['X1'] # str 
# df[['X1']] # [str]
# df[['X1','X3']] # [str,str]

`-` 방법3: `df.iloc[:,?]` + int, int:int, \[int,int\], \[bool,bool\],
range

In [175]:
# df.iloc[:,0] # int
# df.iloc[:,-2:] # int:int - 슬라이싱
# df.iloc[:,1::2] # int:int - 스트라이딩
# df.iloc[:,[0]] # [int]
# df.iloc[:,[0,1]] # [int,int]
# df.iloc[:,[True,True,False,False]] # bool의 list 
# df.iloc[:,range(2)] # range

`-` 방법4: `df.loc[:,?]` + str, ‘str:str’, \[str,str\], \[bool,bool\]

In [109]:
# df.loc[:,'X1'] # str
# df.loc[:,'X1':'X3'] # 'str':'str' -- 칼럼이름으로 슬라이싱 **
# df.loc[:,'X1'::2] # 'str':'str' -- 칼럼이름으로 스트라이딩 ** 
# df.loc[:,['X1']] # [str]
# df.loc[:,['X1','X4']] # [str,str]
# df.loc[:,[True,False,False,True]] # bool의 list

## B. 행의 선택

`-` 방법1: `df[]` + int:int, str:str, \[bool,bool\],
pd.Series(\[bool,bool\]) – $(\star\star\star\star\star)$

In [119]:
# df[:2] # int:int -- 슬라이싱 // df.iloc[:2,:], df.iloc[:2] 와 같음
# df[::2] # int:int -- 스트라이딩 
# ts['12/30':'01/02'] # str:str -- 슬라이싱
# ts['12/31'::2] # str:str -- 스트라이딩
# df[['12' in date for date in df.date]] # [bool,bool]
# df[df.X1 < 70] # pd.Series([bool,bool])

`-` 방법2: `df.iloc[]`, `df.iloc[,:]` + int, int:int, \[int,int\],
\[bool,bool\], range

In [243]:
# df.iloc[0] # int 
# df.iloc[-2:] # int:int -- 슬라이싱
# df.iloc[1::2] # int:int -- 스트라이딩
# df.iloc[[0]] # [int]
# df.iloc[[0,1]] # [int,int]
# df.iloc[['12' in date for date in df.date]] # [bool,bool]
# df.iloc[range(2)] # range

In [244]:
# df.iloc[0,:] # int 
# df.iloc[-2:,:] # int:int -- 슬라이싱
# df.iloc[1::2,:] # int:int -- 스트라이딩
# df.iloc[[0],:] # [int]
# df.iloc[[0,1],:] # [int,int]
# df.iloc[['12' in date for date in df.date],:] # [bool,bool]
# df.iloc[range(2),:] # range

`-` 방법3: `df.loc[]`, `df.loc[,:]` + int, str, int:int, str:str,
\[int,int\], \[str,str\], \[bool,bool\], pd.Series(\[bool,bool\])

In [137]:
# df.loc[0] # int 
# ts.loc['12/30'] # str 
# df.loc[:2] # int:int 
# ts.loc[:'01/02'] # str:str 
# df.loc[[0,1]] # [int,int]
# ts.loc[['12/30','01/01']] # [str,str]
# df.loc[['12' in date for date in df.date]] # [bool,bool]
# df.loc[df.X1>70] # pd.Series([bool,bool])

## C. 제 스타일

`-` **가장 안전한 코드**

In [344]:
# df.loc[:,:]

`-` 상황1: 하나의 col을 뽑으려 할때 좋은 코드

In [361]:
# df.X1 # 최애 
# df['X1'] # 차애 
# df[['X1']] # 차애

`-` 상황2: row 슬라이싱을 할때 좋은 코드 $(\star\star\star)$

In [143]:
# df[:5] # 최애 
# ts[:'01/02'] # 시계열인 경우

`-` 상황3: 조건에 맞는 row를 뽑을때 좋은 코드

In [144]:
# df[df.X1<60] # 최애
# df.loc[['12' in date for date in df.date]] # 차애

`-` 상황4: 하나의 row를 뽑으려 할때 좋은 코드

In [146]:
# df.iloc[0] # 최애 
# df.loc[0] # 차애

`-` 상황5: (row,col)을 뽑으려 할때 좋은 코드

In [148]:
# 최애: pd.Series를 뽑고 -> 인덱스로접근
# df.X1[0]
# df['X1'][0]

# 차애: iloc, loc 으로 한번에 뽑기
# df.iloc[0,0]
# df.loc[0,'X1']

***위의 상황이외에는 `df.loc[:,:]`를 사용하는것이 유리하다***

`-` 상황6: column 슬라이싱을 할때

In [403]:
# df.loc[:,'X1':'X3'] # 끝점포함

`-` 상황7: row + column 슬라이싱을 하는 가장 좋은 코드

In [406]:
# df.loc[::2,'X1':'X2']

`-` 상황8: 조건에 맞는 col을 뽑기에 가장 좋은 코드

In [414]:
# df.loc[:,[len(colname)>2 for colname in df.columns]]

`-` 상황9: 조건에 맞는 row, col을 뽑기에 가장 좋은 코드

In [171]:
# df.loc[df.X1>70,[len(colname)>2 for colname in df.columns]]

## D. 제 스타일 X

`-` 제가 안쓰는 코드1

In [172]:
df[:1]

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [428]:
df[0]

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [438]:
df.iloc[list(df['X1']<80),:]

이러면 마치 아래도 동작할 것 같잖아..

In [439]:
df.iloc[df['X1']<80,:]

## E. 요약

`-` 알아두면 좋은 규칙

-   `.iloc[]` 와 `.iloc[,:]`는 완전히 동등하다.
-   `.loc[]` 와 `.loc[,:]`는 완전히 동등하다.
-   결과를 `pd.Series` 형태가 아닌 `pd.DataFrame` 형태로 얻고 싶다면
    `[[?]]`를 사용하면 된다.

`-` 정리

### ROW

|     type of indexer      | `.` | `[]` | `.iloc` |  `.loc`  |        내가 쓴다면?         |
|:--------------------------:|:-----:|:------:|:---------:|:----------:|:---------:|
|           int            |  X  |  X   |    O    | $\Delta$ |       `df.iloc[3,:]`        |
|         int:int          |  X  |  O   |    O    | $\Delta$ |          `df[3:5]`          |
|       \[int,int\]        |  X  |  X   |    O    | $\Delta$ |      `df.iloc[idx,:]`       |
|           str            |  X  |  X   |    X    |    O     |     `ts.loc['time1',:]`     |
|         str:str          |  X  |  O   |    X    |    O     | `ts.loc['time1':'time2',:]` |
|       \[str,str\]        |  X  |  X   |    X    |    O     |           안할 듯           |
|      \[bool,bool\]       |  X  |  O   |    O    |    O     |     `df[filtered_idx]`      |
| pd.Series(\[bool,bool\]) |  X  |  O   |    X    |    O     |       `df[df.X1>20]`        |

### COL

| type of indexer | `.` | `[]` | `.iloc` | `.loc` |       내가 쓴다면?       |
|:---------------:|:---:|:----:|:-------:|:------:|:------------------------:|
|       int       |  X  |  X   |    O    |   X    |      `df.iloc[:,0]`      |
|     int:int     |  X  |  X   |    O    |   X    |     `df.iloc[:,0:2]`     |
|   \[int,int\]   |  X  |  X   |    O    |   X    |     `df.iloc[:,idx]`     |
|       str       |  O  |  O   |    X    |   O    |     `df.loc[:,'X1']`     |
|     str:str     |  X  |  X   |    X    |   O    |  `df.loc[:,'X1':'X4']`   |
|   \[str,str\]   |  X  |  O   |    X    |   O    | `df.loc[:,colname_list]` |
|  \[bool,bool\]  |  X  |  X   |    O    |   O    |  `df.loc[:,bool_list]`   |

# 5. Pandas: 기본기능

## A. 열의 이름 변경

`-` 방법1: `df.columns`에 대입

In [593]:
df = pd.DataFrame(np.random.randn(3,2))
df.columns = ['A','B']
df

`-` 방법2: `df.set_axis()`

In [603]:
df = pd.DataFrame(np.random.randn(3,2))
df.set_axis(['A','B'],axis=1)

`-` 방법3: `df.rename()`

In [612]:
df = pd.DataFrame(np.random.randn(3,2))
df.rename({0:'AA',1:'BB'},axis=1)

## B. 행의 이름 변경

`-` 방법1: `df.index`에 대입

In [614]:
df = pd.DataFrame(np.random.randn(3,2))
df

In [615]:
df.index = ['guebin','jiyoon','boram']
df

`-` 방법2: `df.set_axis()`

In [7]:
df = pd.DataFrame(np.random.randn(3,2))
df.set_axis([11,22,33],axis=0)

`-` 방법3: `df.rename()`

In [8]:
df = pd.DataFrame(np.random.randn(3,2))
df.rename({1:'guebin'},axis=0)

`-` 방법4: 임의의 열을 행이름 으로 지정!

In [619]:
df = pd.DataFrame({'id':['2021-43052','2021-43052'], 'hour':[3,2], 'height':[176,172]})
df.set_index('id')

## `#` A~B에 대한 연습문제

`-` 데이터 load

In [649]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

`# 예제1`: 열의 이름 출력하고, 열의 이름중 공백(``)이 있을 경우
언더바(`_`) 로 바꾸자.

컬럼출력

In [11]:
df.columns

1.  `df.columns`에 직접대입

In [631]:
new_colnames = [l.replace(' ','_') for l in df.columns]

In [13]:
# df.columns = new_colnames
# df

1.  `set_axis()` 이용

In [14]:
df.set_axis(new_colnames,axis=1)

1.  `rename()` 이용

In [643]:
df.rename({l:l.replace(' ','_') for l in df.columns if ' ' in l},axis=1)

`#`

`예제2`: ID를 row-index로 지정하라.

1.  직접지정

In [16]:
# df.index = df.ID
# df

1.  `set_axis()`

In [653]:
df.set_axis(df.ID,axis=0)

1.  `rename()`

In [666]:
df.rename({i:j for i,j in zip(df.index, df.ID)})

1.  `set_index()`

In [669]:
df.set_index('ID')

`#`

## C. `df.T`

`-` 데이터 load

In [670]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

`-` `df.T`를 이용하여 데이터를 살피면 편리함

In [674]:
df.T.iloc[:,:2]

`-` 출력옵션 조정

In [679]:
pd.options.display.max_rows = 12
display(df.T.iloc[:,:2])
pd.reset_option("display.max_rows")

-   이 예제에서는 줄이는 옵션을 사용했지만 보통은 늘려서 사용함

## D. `df.dtypes`, `s.dtype`, `df.select_dtypes()`

`-` `df.dtypes`

In [731]:
df.dtypes

`-` `s.dtype`

In [735]:
df.Name.dtype

`-` `==`를 이용한 자료형 체크

In [745]:
df.Name.dtype == object
df.Name.dtype == np.object_

In [746]:
df.Age.dtype == int
df.Age.dtype == np.int64

In [752]:
df['International Reputation'].dtype == float
df['International Reputation'].dtype == np.float64

`# 예제1`: `df`에서 `int` 자료형만 출력

`-` (풀이1)

In [761]:
df.loc[:,[l == int for l in df.dtypes]]
df.loc[:,[l == np.int64 for l in df.dtypes]]

`-` (풀이2)

In [765]:
df.select_dtypes(int)
df.select_dtypes(np.int64)
df.select_dtypes([int])
df.select_dtypes([np.int64])

`#`

`# 예제2`: `df`에서 `int`, `float` 자료형만 출력 – `select_dtypes()`
이용

In [779]:
df.select_dtypes([int,float])
df.select_dtypes([np.int64,np.float64])
df.select_dtypes('number')
df.select_dtypes(['number'])

`#`

`# 예제3`: `df`에서 `object` 자료형만 출력 – `select_dtypes()` 이용

In [784]:
df.select_dtypes(object)
df.select_dtypes([object])

`#`

## E. `df.sort_values()`

`-` 예시1: 나이가 어린 순서대로 정렬

In [790]:
df.sort_values(by='Age')

`-` 예시2: 나이가 많은 순서대로 정렬

In [789]:
df.sort_values(by='Age',ascending=False)

`-` 예시3: 능력치가 좋은 순서대로 정렬

In [791]:
df.sort_values(by='Overall',ascending=False)

## F. `df.info()`

In [792]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17660 entries, 0 to 17659
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17660 non-null  int64
 1   Name                      17660 non-null  object
 2   Age                       17660 non-null  int64
 3   Photo                     17660 non-null  object
 4   Nationality               17660 non-null  object
 5   Flag                      17660 non-null  object
 6   Overall                   17660 non-null  int64
 7   Potential                 17660 non-null  int64
 8   Club                      17449 non-null  object
 9   Club Logo                 17660 non-null  object
 10  Value                     17660 non-null  object
 11  Wage                      17660 non-null  object
 12  Special                   17660 non-null  int64
 13  Preferred Foot            17660 non-null  object
 14  International Reputation  17660 non-null  float64
 15  Weak Foot                 17660 non-null  float64
 16  Skill Moves               17660 non-null  float64
 17  Work Rate                 17660 non-null  object
 18  Body Type                 17622 non-null  object
 19  Real Face                 17622 non-null  object
 20  Position                  17625 non-null  object
 21  Joined                    16562 non-null  object
 22  Loaned From               694 non-null    object
 23  Contract Valid Until      17299 non-null  object
 24  Height                    17660 non-null  object
 25  Weight                    17660 non-null  object
 26  Release Clause            16509 non-null  object
 27  Kit Number                17625 non-null  float64
 28  Best Overall Rating       21 non-null     object
dtypes: float64(4), int64(5), object(20)
memory usage: 3.9+ MB

# 6. Pandas: query

In [819]:
ts = pd.DataFrame(np.random.normal(size=(20,4)),columns=list('ABCD'),index=pd.date_range('20221226',periods=20)).assign(Sex=['M']*10+['F']*10)
ts

## A. 기본 query

`-` 예시1: `A>0 and B<0`

In [825]:
#ts[(ts.A>0) & (ts.B<0)]
ts.query('A>0 and B<0')

`-` 예시2: `A<B<C`

In [826]:
ts.query('A<B<C')

`-` 예시3: `(A+B)/2 > 0`

In [832]:
#ts[(ts.A + ts.B)/2 >0]
ts.query('(A+B)/2 >0')

`-` 예시4: `(A+B)/2 > 0` and `Sex=='M'`

In [833]:
ts.query('(A+B)/2>0 and Sex=="M"')

In [834]:
ts.query("(A+B)/2>0 and Sex=='F'")

## B. 외부변수를 이용

`-` 예시: `A > mean(A)`

(풀이1)

In [840]:
ts[ts.A > -0.0734821041290727]
ts.query('A > A.mean()')

(풀이2)

In [844]:
m = ts.A.mean()
ts[ts.A>m]
ts.query('A > @m')

## C. Index로 query

`-` 예시: (2022년 12월30일 보다 이전 날짜) $\cup$ (2023년 1월10일)

In [850]:
ts.query('index < "2022-12-30" or index == "2023-01-10"')

/tmp/ipykernel_642677/2579726232.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  ts.query('index < "2022-12-30" or index == "2023-01-10"')

## D. 열의 이름에 공백이 있을 경우

In [851]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

`-` 예시: `Skill Moves > 4`

In [864]:
df.query('`Skill Moves` > 4').head(5)

# 7. Pandas: 할당

In [865]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

## A. `df.assign()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당

In [871]:
df.assign(total = df.att*0.1 + df.rep*0.2 + df.mid*0.35 + df.fin*0.35)

> Note: 이 방법은 df원본을 손상시키지 않음

## B. `df.eval()`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당

In [872]:
df.eval("total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35")

> Note: 이 방법은 df원본을 손상시키지 않음

## C. `df[colname] = xxx`

`-` 예시: `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35` 를 계산하여
할당.

In [880]:
df['total'] = df.att*0.1 + df.rep*0.2 + df.mid*0.35 + df.fin*0.35
df

> Note: 이 방법은 df를 영구적으로 변화시킴

# 8. Pandas: transform column

`# 예시1` `df.Height`열 변환하기 + 변환된 열 할당하기

In [940]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv').drop(['Loaned From','Best Overall Rating'],axis=1).dropna().reset_index(drop=True)
df.head()

`-` (풀이1)

In [938]:
df.assign(Height = list(map(lambda x: int(x.replace('cm','')),df.Height)))

`-` (풀이2) – 컴프리헨션

In [939]:
df.assign(Height= [int(height.replace('cm','')) for height in df.Height])

`#`

`# 예시2` `df.Joined`을 이용하여 선수들이 join한 연도를 알아내고 이를
새로운 열로 할당하라.

`-` (풀이1)

In [955]:
df.assign(JoinedYear = list(map(lambda x: int(x[-4:]), df.Joined)))

`-` (풀이2)

In [949]:
df.assign(JoinedYear = [int(l[-4:]) for l in df.Joined])

# 9. 반복문 – 자투리

## A. `zip`

`-` 예시1

In [992]:
x = [11,22,33]
y = [44,55,66]
for xi,yi in zip(x,y):
    print(xi,yi)

11 44
22 55
33 66

`-` 예시2

In [1010]:
df = pd.DataFrame({'year':[2022,2023,2022,2022,2019],'month':[12,10,8,2,1],'day':[31,22,31,28,15]})
df

In [1015]:
df.assign(ymd = [f"{y}-{m}-{d}" for y,m,d in zip(df.year, df.month, df.day)])

## B. `enumerate`

`-` 예시1

In [978]:
x = [11,22,33]
for i,xi in enumerate(x):
    print(i,xi)

0 11
1 22
2 33

`-` 예시2

In [1024]:
lst = np.random.choice(['사과','딸기','배'],100,replace=True).tolist()
lst[:5]

In [1030]:
dct = {l:i for i,l in enumerate(set(lst))}
dct

In [1033]:
[dct[l] for l in lst][:5]

# 10. 변수의 범위

`-` 모티브: 주피터노트북 하나를 키고 x에 100을 넣는다. 다른 주피터를
하나 키고 x를 치면 100이 나올까? –\> “독립된 환경”이라는 개념

## A. 함수

`-` 예시1: 함수내부 / 함수외부

In [1041]:
x = None 
y = None

In [1042]:
def f(x):
    y = x+1
    return y

In [1043]:
f(1)

In [1044]:
x,y

> 여기에서 x,y는 함수내부에서만 선언 및 계산되고 소멸한다. 즉 함수안에서
> 사용되는 코드는 마치 독립된 환경처럼 작동한다. 함수외부의 x,y는
> 함수내부의 x,y와 “기본적으로는” 상관이 없다.

`-` 예시2: 함수내부 / 함수외부

In [1045]:
x = 1
y = None

In [1046]:
def f(x):
    y = x+1
    return y

In [1047]:
f(x)

In [1048]:
x,y

> 여기에서 x는 함수외부에 선언되었고, 함수 외부에 선언된 x의 값이 함수
> 내부로 전달되었다. 전달된 값은 함수내부에서 x라는 이름으로 저장되었음.

`-` 예시3: 함수내부 / 함수외부

In [1049]:
x = None 
y = None

In [1050]:
def f(x):
    y = x+1
    return y

In [1051]:
z = 1
f(z)

In [1052]:
x,y

> 여기에서 z는 함수외부에 선언되었고, 함수 외부에 선언된 z의 값이 함수
> 내부로 전달되었음. 전달된 값은 함수내부에서 x라는 이름으로 저장되었음.

`-` 예시4: 함수내부 / 함수외부

In [1053]:
x = 2
y = 3

In [1056]:
def f(x):
    return x+y # 함수내부에서는 y를 정의한적이 없잖아? (뭘 x에 더하라는거야?) 혹시 함수 외부에 y가 정의되어있나? 찾아보니 y=3이있음. 이걸 가져다가 쓰자

In [1057]:
f(10)

In [1058]:
x,y

> 여기에서 x=2,y=3는 함수외부에 선언되었음. 함수 내부에는 x=10 이
> 선언되었음. 함수내부에서 x+y를 계산하려고 했는데, y는 함수내부에 없음.
> 그런데 함수외부에는 y가 있네? 그럼 함수외부에 있는 y를 빌려옴!! (이건
> 엄청 위험한 코드임. 왜냐하면 y가 어디있는지 쉽게 찾을 수 없기 때문!)

사실 이 코드에서 y와 같은 역할을 하는 변수를 “전역변수”라고 하는데, y가
전역변수를 의미할때는 보통 대문자를 사용한다.

`-` 예시5: 전역변수를 사용하는 모범코드

In [1063]:
PI = 3.141592

In [1064]:
def f(r):
    return PI*(r**2)

In [1065]:
def g(r): 
    return (4/3)*PI*(r**3)

In [1066]:
f(2),g(2)

`-` 예시6: 전역변수와 지역변수가 충돌한다면?

In [1068]:
x = 5
y = 5

In [1069]:
def f(x):
    y = x+1 
    return x**y

In [1071]:
f(2)

In [1072]:
x,y

> 이거 사실 예시1이랑 같은코드에요, 전역변수 개념이 너무 충격적이라서
> 갑자기 헷갈릴 뿐입니다.

## B. for / 컴프리헨션

`-` 예시1: for문과 함께 사용된 $i$

In [1094]:
i = None
lst = None

In [1095]:
i, lst

In [1096]:
lst = []
for i in range(5):
    lst.append(i)

In [1093]:
i, lst

`-` 예시2: 컴프리헨션과 사용된 $i$

In [1087]:
i = None
lst = None

In [1088]:
lst = [i for i in range(5)]

In [1089]:
i, lst

# A1. 잔소리

## A. 통계학과의 진로

`-` 코딩과 상관 X

-   시험을 통해 얻는 직업: 회계사, 공무원/공기업, …
-   본인이 선택하는 직업: 가업, 학원선생님, 전과 이후 새 직업 탐색, …
    [1]

`-` 코딩과 상관 O

-   당장 코딩실력이 필요할 경우 (= 코딩테스트를 준비해야 하는 경우):
    IT기업 (네이버, 카카오, …), 빅데이터분석기업(LG-CNS, 삼성SDS, …),
    기타대기업(삼성전자, 하이닉스, SKT, KT, …),
-   당장 코딩실력이 필요하진 않지만 장기적으론 필요한 경우: 대학원진학,
    금융권 (XX은행, XX증권, …), 병원(전북대병원등,…)

`-` 시험을 통해 얻는 직업 vs 일반사기업입사 (혹은 대학원)

-   사법고시공부 vs 좋은대학 느낌
-   할 수 있다면 시험준비해서 좋은기업가면 좋음.
-   그렇지 않다면
    “공모전준비(캐글/데이콘경진대회경험등)”+“학점관리”+“영어공부”+“코딩테스트준비”+“학회활동”+“자격증대비”
    -\> 대학원 or 취업

`-` 이 수업의 목적:

`1`. 통계학과 상위과목 수강을 위한 실력쌓기: 기계학습활용, 기계학습,
딥러닝, 데이터마이닝 등.. 파이썬을 활용하는 모든 과목들

`2`. 코딩 흡수력 향상: 남의 코드를 보고 흡수할 수 있느냐?

[1] 사실상 졸업을 위해서 수강하는 학생들

In [14]:
'A'.isupper()

In [13]:
'A'.islower()

`3`. 코딩테스트에 대한 대비 X (스트레스만 줄 것임)

## B. 코딩테스트를 잘하면 좋은것

`-` 삼성 청년 SW 아카데미
<https://www.ssafy.com/ksp/jsp/swp/apply/swpApplyProcess.jsp>

-   전문화된 SW교육 제공
-   교육지원금 지급 (매월 100만원)
-   국내외 연구소 실습기회 부여
-   *이 자체가 엄청난 스펙..*

`-` 카카오 2024 채용연계형 겨울 인턴십 모집
<https://www.kakaocorp.com/page/detail/10677>

-   인턴십 이후 전환 인터뷰를 통해 최종 정규직 전환 대상자가 확정
-   전환 인터뷰에 통과하면 내년 3월부터 카카오 크루로 입사
-   단, 학업 등의 이유로 부득이하게 내년 3월 입사가 어려운 경우 2024년
    9월 이내 가능한 일자로 별도 조율할 예정
-   *학생들 입장에서는 유일한 입사기회 + 떨어져도 좋은 경험*
-   *최근에 이런 형태로 뽑는 기업들 많음*

`-` 삼성 SW 역량테스트
<https://swexpertacademy.com/main/capacityTest/main.do>

-   *입사시험임 (파이썬 지원)*
-   지원: <https://swexpertacademy.com/main/sst/intro.do>
-   기출문제:
    <https://swexpertacademy.com/main/code/problem/problemList.do>

`-` 유용한사이트

-   백준: <https://www.acmicpc.net/workbook/view/1152>
-   프로그래머스: <https://programmers.co.kr/>

`-` 학생들의 노력

-   https://www.youtube.com/watch?v=saVwTNb1wzk
-   [코딩테스트
    탈락후기](https://www.google.com/search?q=%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8+%ED%83%88%EB%9D%BD%ED%9B%84%EA%B8%B0&oq=%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8+%ED%83%88%EB%9D%BD%ED%9B%84%EA%B8%B0&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIKCAEQABiABBiiBDIKCAIQABiABBiiBDIKCAMQABiABBiiBDIKCAQQABiABBiiBNIBBzQyNmowajmoAgCwAgE&sourceid=chrome&ie=UTF-8)

## C. 코딩테스트 잘보는 방법?

`-` 코딩테스트문제 = 구현문제 + 알고리즘문제

-   알고리즘문제는 따로 공부해야함. (풀이 패턴이 있음, 퀴즈5-1~2)
-   구현문제는 평소에 논리적 생각을 많이해야함 + 꼼꼼해야함 +
    오류수정잘해야함(중간고사3)

`-` 언어특화문법을 잘 이해해야함

-   파이썬스러운 코딩 (퀴즈5-1, 퀴즈5-3)

`-` 사용가능한 패키지를 잘 확인할 것: numpy, pandas 활용가능 유무

`-` 계산 시간을 따질 것