# 12wk-1: 퀴즈7

최규빈  
2024-05-22

<a href="https://colab.research.google.com/github/guebin/PP2024/blob/main/posts/12wk-1.ipynb"><img src="https://colab.research.google.com/assets/colab-badge.svg" style="text-align: left"></a>

> **Caution**
>
> -   전북대 학생들을 시험당일 학생증을 지참할 것. (출석체크 및
>     본인확인) 학생증 외에 신분증 여권등도 가능.
> -   부정행위 (카카오톡 채팅을 통한 코드공유, 생성형모델 사용, 대리시험
>     등) 적발시 F 처리함.
> -   퀴즈 중 지각할 경우 지각사실을 기록함. 하지만 별 다른 감점은 하지
>     않음.
> -   `.ipynb` 파일 형태로 제출된 답안지만 채점하며 그 외의 형식
>     (`.hwp`, `.py` 등)은 채점하지 않음. 즉 0점 처리함.

In [3]:
import pandas as pd
import numpy as np

# 1. – 10점

아래의 자료를 불러오라.

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv').drop(['Loaned From','Best Overall Rating'],axis=1).dropna().reset_index(drop=True)
df.head()

선수들의 키의 평균을 구하여라. (선수들의키는 ’Height’라는 열로 저장되어
있음)

# 2. – 10점

표준정규분포에서 1000개의 난수를 생성하여 아래와 같은 데이터프레임을
만들어라.

In [13]:
# 생성예시

**Notes**

1.  column의 이름은 `X0,...,X99`와 같이 되어야 한다.
2.  표준정규분포에서 난수를 뽑는 코드는 `np.random.randn` 혹은
    `np.random.normal` 을 이용한다.

# 3. – 10점

아래의 데이터프레임을 관찰하라.

In [102]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/posts/FIFA23_official_data.csv')
df.head()

열의 이름에 공백 `' '`이 포함된 열은 모두 몇개인가?

> 확장가능하지 않은 코드는 정답인정하지 않음 (예를들어 직접세는 경우)

# 4. – 10점

In [21]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin})
df

위의 데이터프레임에 아래의 공식을 적용하여 `total`을 계산하라.

> `total = att*0.1 + rep*0.2 + mid*0.35 + fin*0.35`

계산된 `total`을 바탕으로 아래의 규칙을 적용하여 `grade`를 정하라.

-   `total` \>= 70: A+
-   40 \< `total`\< 70: B0
-   `total`\<= 40: F

`grade`를 원래 df에 할당하여 최종결과를 출력하라.

In [33]:
# 출력예시

# 5. – 10점

아래의 2개의 list를 관찰하자.

In [99]:
eng = ['apple', 'banana', 'carrot', 'dragonfly', 'elephant', 'forest', 'giraffe', 'honey', 'island', 'jungle']
kor = ['사과', '바나나', '당근', '잠자리', '코끼리', '숲', '기린', '꿀', '섬', '정글']

위의 list와 zip을 이용하여 아래와 같은 Dictionary를 만들어라.

In [101]:
dct = {'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'dragonfly': '잠자리',
 'elephant': '코끼리',
 'forest': '숲',
 'giraffe': '기린',
 'honey': '꿀',
 'island': '섬',
 'jungle': '정글'}

# 6. – 50점

> 각 문제당 10점

아래의 데이터프레임을 관찰하자.

In [62]:
df = pd.read_csv("https://raw.githubusercontent.com/guebin/DV2023/main/posts/titanic.csv").drop(['PassengerId','logFare','Cabin'],axis=1).dropna()
df

이 데이터프레임은 타이타닉 데이터셋으로 1912년에 침몰한 타이타닉 호에
대한 자료이다. 자료의 row는 개별승객을 의미하고 자료의 column은 승객에
대한 정보를 의미한다. 각 column에 대한 설명은 아래와 같다.

1.  **Survived**: 생존 여부 (0 = 사망, 1 = 생존)
2.  **Pclass**: 객실 등급 (1 = 일등석, 2 = 이등석, 3 = 삼등석)
3.  **Name**: 승객 이름
4.  **Sex**: 성별
5.  **Age**: 나이
6.  **SibSp**: 함께 탑승한 형제자매 또는 배우자 수
7.  **Parch**: 함께 탑승한 부모 또는 자녀 수
8.  **Ticket**: 티켓 번호
9.  **Fare**: 요금
10. **Embarked**: 탑승한 항구 (C = Cherbourg, Q = Queenstown, S =
    Southampton)

예를들어 아래와 같은 첫번째 승객을 고려하면,

In [90]:
df.iloc[[0]]

이 승객은 사망한 승객이며[1] 3등석에 타고 있으며, 이름은
`Braund, Mr. Owen Harris` 성별은 남, 나이는 22, `Southampton` 에서
탑승했다는 것을 알 수 있다.

`(1)` 남성승객과 여성승객은 각각 모두 몇명인가?

`(2)` 남성승객중 몇명이 살아남았는가? 여성승객중 몇명이 살아남았는가?
남성과 여성중 어떠한 성별이 더 많이 생존했다고 생각하는가?

`(3)` `Pclass == 3` 인 승객들에 한정하여 `Fare`의 평균을 계산하라.

`(4)` 혼자 탄 승객은 모두 몇명인가?

**hint: `SibSp=0` 이고 `Parch=0` 인 승객을 조사하면된다.**

`(5)` 혼자 탄 승객들이 각각 어떠한 항구에서 탔는지 조사하라.

[1] `Survived = 0`

In [82]:
# 답안예시
{'S': 300, 'Q': 20, 'C': 60} # <-- 숫자는 다를수 있습니다.. (숫자가 정확하면 다 더해서 4번답을 얻을수 있어서요)